.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1200px;
  -webkit-box-shadow: -13px 1px 52px -18px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -13px 1px 52px -18px rgba(0, 0, 0, 0.71);
  box-shadow: -13px 1px 52px -18px rgba(0, 0, 0, 0.71);
}

.aside {
  width: 40%;
  padding: 40px 0;
  background-color: var(--main-background);
  color: var(--primary-white);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.address {
  font-style: normal;
  color: var(--link-color);
  margin-bottom: 20px;
}

.socialLinkList {
  display: flex;
}

.socialLinkItem {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  & > svg {
    width: 20px;
    height: 20px;
    fill: var(--main-background);
  }
}

.mainContent {
  width: 60%;
}

.photoThumb {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

.photo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.title {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1.5px solid var(--main-background);
}

.WhiteTitle {
  border-bottom: 1.5px solid var(--secondary-background);
}

.asideSection {
  padding: 50px 40px;
}

.asideList {
  margin-top: 20px;
}

.asideItem {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.educationSection {
  background-color: var(--secondary-background);
  color: var(--primary-black);
  padding: 50px 30px;
}

.educationTitle {
  margin-bottom: 5px;
}

.profile {
  background-color: var(--secondary-background);
  padding: 90px 40px;
}

.projectSection {
  padding: 90px 40px;
}

.mainTitle {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 20px;
}

.projectList {
  margin-top: 20px;
}

.projectItem {
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.projectInfoList {
  display: flex;
  margin-bottom: 10px;
}

.projectInfoItem {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--primary-black);
    margin-right: 10px;
  }
}

.projectInfoTitle {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.projectFeatures {
  margin-bottom: 10px;
}

.projectAccentItem {
  font-weight: 500;
}

.projectLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.position {
  background-color: var(--main-background);
  color: var(--primary-white);
  padding: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.projectAnnotation {
  margin-bottom: 10px;
}

.roleName {
  font-weight: 500;
}

.roleDescription {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contactLink {
  color: var(--link-color);
}
